.conjunto1{
    background-color: brown;
}
.conjunto1{
    background-color: blue;
}

h1{
    background-color: yellow;
}
.gato{
    background-color: blue;
    color: rgb(20, 23, 20);
}
p{
    color: purple;
    background-color: yellowgreen;
}
#vrdd{
    color: black;
    
}